a.social {
  --bgimage: "";
  background-image: var(--bgimage);
  width: 1.5rem;
  height: 1.5rem;
  display: block;

  -webkit-background-clip: initial;
  background-clip: initial;

  &[area-label="tiktok"] {
    background: url(../assets/icons/tiktok.svg) no-repeat;
  }

  &:hover[area-label="tiktok"] {
    background-image: url(../assets/icons/tiktok-hover.svg);
  }

  &[area-label="instagram"] {
    background: url(../assets/icons/instagram.svg) no-repeat;
  }

  &[area-label="instagram"]:hover {
    background-image: url(../assets/icons/instagram-hover.svg);
  }

  &[area-label="discord"] {
    background: url(../assets/icons/discord.svg) no-repeat;
  }

  &[area-label="discord"]:hover {
    background-image: url(../assets/icons/discord-hover.svg);
  }

  &[area-label="twitter"] {
    background: url(../assets/icons/twitter.svg) no-repeat;
  }

  &[area-label="twitter"]:hover {
    background-image: url(../assets/icons/twitter-hover.svg);
  }
}
