@charset "UTF-8";

:root {
  --cor-de-fundo: #573824;
  --surface-color: #f0e8c2;

  --cor-do-texto-primaria: #291b1a;
  --cor-do-texto-secundaria: #573a37;
  --cor-do-texto-bg: #f0e8c2;
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100dvh;
  width: 100%;
}

main img {
  width: 500px;
}
