* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Poppins", sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text: 400 0.875rem/1.4 var(--font-family);

  --text-primary: #292524;
  --text-sencudary: #57534e;
  --text-tertiary: #8f8881;
  --text-highlight: #e43a12;

  --surface-primary: #ffffff;
  --surface-secondary: #fee7d6;

  --stroke-default: #d6d3d1;
  --stroke-highlight: #f3541c;
  --semantic-error: #dc2625;
}

body {
  overflow: hidden;

  font: var(--text);
  color: var(--text-sencudary);
}

h1,
h2 {
  color: var(--text-primary);
}

img {
  max-width: 100%;
  height: auto;
}

input {
  transition: box-shadow 0.3s;
}

input:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.178);
}

select {
  transition: box-shadow 0.3s;
}

select:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.178);
}

textarea {
  transition: box-shadow 0.3s;
}

textarea:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.178);
}
